.center img{
    width: 100%;
}
.center{
    position: relative;
}

/* For mobile phones: */
body{ 
    background-color: cadetblue;
    .absolute1{
        position: absolute;
        color: blue;
        font-size: 10px;
        left: 195px;
        top: 90px;
    }
    .absolute2{
        position: absolute;
        color: red;
        font-size: 20px;
        left: 180px;
        top: 100px;
    }
}
/* For tablets: */
@media only screen and (min-width: 768px) {
    body {
        background-color: green;
        .absolute1{
           position: absolute;
           color: blue;
           font-size: 25px;
           left: 380px;
           top: 160px;
        }
        .absolute2{
           position: absolute;
           color: red;
           font-size: 47px;
           left: 350px;
           top: 190px;
        }
    }
}
/* Desktop: */
@media only screen and (min-width: 987px) {
    body {
        background-color: pink;
        .absolute1{
           position: absolute;
           font-size: 30px;
           color: blue;
           left: 650px;
           top: 290px;
        }
        .absolute2{
           position: absolute;
           color: red;
           font-size: 60px;
           left: 600px;
           top: 330px;
        }
    }
}

